@import "header.css";
@import "footer.css";

* {
	margin: 0;
	padding: 0;
}
html,
body {
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
    flex: 1 0 auto;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 16em;
}
.about {
    padding: 4em;
    width: 80%;
    border: 1px solid rgb(82,153,203);
    box-shadow: 0 0 30px rgb(82,153,203);
    margin: 6em auto;
    border-radius: 50px;
}
.h1Cont {
    color: rgb(113,115,115);
    text-align: center;
    margin-bottom: 1em;
}
.Cont {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}
.coock {
    margin-top: 1em;
    color: rgb(73,148,213);
    box-sizing: border-box;
}
.down {
    text-align: center;
    padding-top: 7em;
}
.down > a > img:hover {
    box-shadow: 0 0 10px rgb(84,158,254);
    border-radius: 50px;
    border: 2px outset rgb(84,158,254);
}