header {
    background-image: url('../img/header.png');
    background-size: cover;
    height: 220px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}
header > p {
    position: relative;
    left: 80%;
    top: -2em;
}
header > h3 {
    margin-bottom: 4px;
}
header > menu {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    border-radius: 50px;
}
a.menuItem {
    display: block;
    text-decoration: none;
    color: rgb(115,117,119);
    border: 1px solid rgb(212,212,212);
    border-radius: 50px;
    padding: 5px 15px;
    text-align: center;
    margin-left: 4.2em;
    font-weight: 700;
    transition-duration: 500ms;
}
a.menuItem:hover {
    background-color: rgb(74,146,208);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgb(115,117,119);
}
a > hr {
    width: 100%;
    border-color: rgb(212,212,212);
    border-bottom-color: none;
    border-left: none;
    border-right: none;
}
a.active {
    background-color: rgb(74,146,208);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
