@import "header.css";
@import "footer.css";

* {
	margin: 0;
	padding: 0;
}
html,
body {
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
    flex: 1 0 auto;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 16em;
}
.about {
    padding: 4em;
    width: 80%;
    border: 1px solid rgb(82,153,203);
    box-shadow: 0 0 30px rgb(82,153,203);
    margin: 6em auto;
    border-radius: 50px;
}
.h1Cont {
    color: rgb(113,115,115);
    text-align: center;
    margin-bottom: 1em;
}
.h1Cont2 {
    color: rgb(113,115,115);
    text-align: left;
}
.Cont {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}
.coock {
    margin-top: 1em;
    color: rgb(73,148,213);
    box-sizing: border-box;
}
.coock2 {
    display: inline;
    color: rgb(73,148,213);
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 300;
}
.cartItem {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    border: 1px solid rgb(124,161,230);
    box-shadow: 0 0 10px rgb(124,161,230);
    margin-left: 2.5%;
    margin-bottom: 1.5em;
    background-color: rgb(246,248,253);
    height: 480px;
}
.cartItem:hover {
    box-shadow: none;
    cursor: pointer;
}
.c {
    box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 20px;
    width: 90%;
    margin-left: 5%;
}
.c2 {
    box-sizing: border-box;
	min-height: 30%;
	padding-bottom: 20px;
    width: 96%;
    margin-left: 2%;
}
.imgPost {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.mini {
    color: rgb(113,115,115);
    text-align: center;
    margin: 3px;
    font-size: 0.9em;
}
.minip {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.9);
}
.f {
    height: 20px;
	margin-top: -50px;
}
.f2 {
    width: 80%;
    margin-left: 10%;
}
.h {
    border: 1px solid rgb(124,161,230);
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}
.date {
    color: rgb(53,111,217);
    font-size: 0.8em;
    font-weight: 600;
    padding: 15px;
}
.eye {
    float: right;
    background-color: rgb(1,173,239);
    color: rgb(255, 255, 255);
    padding: 10px;
}
.eye > img {
    display: inline-block;
    margin-right: 10px;
}
.eye > p {
    display: inline;
    float: right;
}
.allText {
    padding-top: 10em;
}
.big {
    border: 5px solid rgb(68,144,198);
    margin: 1em auto;
}
.imgPost2 {
    width: 100%;
    margin-top: 10px;
    transition-duration: 1s;
}
.minipB {
    font-weight: 700;
    font-size: 0.8em;
}
.miniName {
    font-size: 0.8em;
    margin-bottom: 1em;
}
.cartItem2 {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    border: 1px solid rgb(124,161,230);
    box-shadow: 0 0 10px rgb(124,161,230);
    margin-left: 2.5%;
    margin-bottom: 1.5em;
    background-color: rgb(246,248,253);
    height: 480px;
}
.cart2 {
    margin-top: 2em;
}
nav {
    display: none;
}





